@font-face {
    font-family: 'ONE-Mobile-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'ONE-Mobile-Regular';
}

#navbar{
    position:sticky;
    top:0;
    border:1px solid red;
}

.collapse {
    margin-right: 30px;
}

#navbarSupportedContent{
    margin-top:-60px;
}

.login-button-circle{
    margin-right: -1px;
}

.login-button {
    width: 100px;
    height: 35px;
    border-radius: 35px;
    text-align: center;
    border: 1px solid gray;
    color: black;
    padding-top: 4px;
    background-color: white;
}

.login-button:hover {
    border: 1px solid #DBF135;
    background-color: #DBF135;
    color: white;
}

.hamburger{
    border-radius:35px;
    width:35px; 
    height:35px; 
    text-align:center; 
    border:1px solid gray;
    color:black;
    padding:6.5px;
    background-color: white;
}

.hamburger:hover {
    background-color: #DBF135;
    border:1px solid #DBF135;
    color:white;
}

#wiki-button {
    border-radius: 25.5px;
    border: 1px solid gray;
    color: black;
}

#wiki-button:hover {
    border: 1px solid #DBF135;
    background-color: #DBF135;
    color: white;
}

#wiki-word::placeholder {
    color: gray;
}

#search-bar{
    position:sticky;
    top:0;
    scroll-margin-top:10px;
}

/*align button*/
.align-button-set {
    margin-left: 120px;
    margin-bottom: 20px;
    width: 1000px;
}

.align-button {
    display: inline-block;
    font-size: 15px;
}

.align-button-trending {
    font-size: 20px;
}

.align-button-new:hover {
    font-size: 20px;
    color: black;
}

/*card*/
.card-body{
    text-decoration: none;
    color: black;
}

/*login modal*/
.modal-header{
    display: flex;
    text-align: center;
}

.modal-title{
    display: block;
    margin-top:10px;
    width: 450px;
    text-align: center;
}

.modal-title-login{
    font-size: xx-large;
    display: inline-block;
    padding-left: 25px;
    padding-top: 5px;
}

.member_login_input{
    margin-top:10px;
}

.member_login_btn{
    margin:20px 0;
}

#btn-login,#btn-join{
    background-color: #DBF135;
    height: 30px;
    padding:0 20px;
}

#btn-login{
    width:100px;
}

#btn-join{
    background-color: white;
    border:1px solid #DBF135
}

#btn-join:hover{
    background-color: #DBF135;
}

.find_password{
    font-size: 0.8rem;
}