
.collapse{
    margin-right: 30px;
}

#wiki-button{
    border-radius:25.5px; border:1px solid #DBF135; color:#DBF135;
}

#wiki-button:hover{
    background-color: #DBF135;
    color:white;
}

#wiki-word::placeholder{
    color:#fbfbfb;
}